name: Manual Build

on:
  workflow_dispatch:

permissions:
  id-token: write # for verifying identity in attestation process
  attestations: write # to push attestation

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Do Build
        run: zip build-output.zip *.md

      - name: Fingerprint result
        run: sha256sum *.zip

      - name: attest-build-provenance
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: '*.zip'
